.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}
.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover {
  transform: scale(1.1);
  transition: 0.3s;
  background: linear-gradient(267deg, #dd9653 0.36%, #492753 102.06%);
}
.home:hover {
  transform: scale(1.5);
  transition: 0.3s;
  cursor: pointer;
}
.about-me:hover {
  transform: scale(1.5);
  transition: 0.3s;
  cursor: pointer;
}
.services:hover {
  transform: scale(1.5);
  transition: 0.3s;
  cursor: pointer;
}
.skills:hover {
  transform: scale(1.5);
  transition: 0.3s;
  cursor: pointer;
}
.contact:hover {
  transform: scale(1.5);
  transition: 0.3s;
  cursor: pointer;
}

.anchor-link {
  text-decoration: none;
  color: white;
}
.nav-mob-close {
  display: none;
}
.nav-mob-open {
  display: none;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.nav-menu li img {
  display: flex;
  margin: auto;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .navbar {
    font-size: 95%;
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    
  }
}

@media (max-width: 991px) {
  .navbar {
    margin: 20px 50px;
   
  }
  
  .nav-connect {
      display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;
  }
  .nav-connect {
    display: none;
  }
  .nav-mob-open {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
  }
  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 20px;
    width: 30px;
  }
  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width:250px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s  ease-in-out;
    right: -350px;
  }
  .nav-menu li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
  .home:hover {
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
  }
  .about-me:hover {
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
  }
  .services:hover {
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
  }
  .skills:hover {
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
  }
  .contact:hover {
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
  }
  
}
