*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  background-color: #000000;
  color: white;
  font-family: outfit;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #45ffca;
  width: 50px;
}